<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Guard</title> 
<style>
    body{
        background: url("https://c.tenor.com/eg9_HxtaW3kAAAAC/pokemon-pikachu.gif");
        background-size: cover;
        
    }
    .intro{
        text-align: center;
        font-weight: bold;

    }
</style> 
</head>
<body>
    <h1 class="intro" style="color: #ffcc00", font-size: 50px;>
        <strong>BYE BYE 
            <BR>
        YOU CAN CLOSE THE TAB NOW
       </strong> </h1>
</body>
</html>