<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Guard</title> 
    <link rel="stylesheet" href="../static/style.css">
    

</head>
<body>
    <h1 class="intro">HELLO I AM YOUR WEATHER GURU 😎</h1>
    <br>
    <br>
    <br>

        <div class="buttons" >
            <button onclick="location.href='/city' ">
                Fetch Weather</button>
            <button onclick="location.href='/Analytics' ">
                View Analytics</button>
            <button onclick="location.href='/exit' ">
                Exit</button>
    </div>
    
</body>
</html>